* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.crossfade {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  pointer-events: none;
  z-index: 999;
  position: fixed; 
  top: 0;
  left: 0;
  animation: crossfade-startup 1s ease-out;
  animation-fill-mode: forwards;
}

.activate-crossfade {
  animation: crossfade .25s ease-in-out;
  pointer-events: all;
}

@keyframes crossfade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes crossfade-startup {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.Switch2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  transform-box: fill-box;
  translate: 0 0; /* Standaard in het midden */
  rotate: 0deg;
  /* Zorg dat de transitie lang genoeg is om de sprong op te vangen */
  transition: translate 0.3s ease-in-out, rotate 0.3s ease-in-out;

  animation: 
    screen-float 3s ease-in-out infinite,
    screen-rotate 6s ease-in-out .5s infinite;
}

@keyframes screen-float {
  0%, 100% { translate: 0 -50px; }
  50% { translate: 0 50px; }
}

@keyframes screen-rotate {
  0% { rotate: 2deg; }
  25% { rotate: -2deg; }
  50% { rotate: 2deg; }
  75% { rotate: -2deg; }
  100% { rotate: 2deg; }
}

.Switch2.stop-animation {
    translate: 0 0 !important;
    rotate: 0deg !important;
}

.Switch2 svg {
  width: 70vw;
  display: block;
  overflow: visible !important;
}

#switch2-logo {
  width: 17vw;
  contain: paint;
}

.logo-unlock {
  animation-name: logo-unlock;
  animation-delay: 0.4s;
  animation-duration: 0.2s;
}

@keyframes logo-unlock {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.switch2-screen-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw; 
  height: 25vw;
  display: flex;
  overflow: hidden;
}

.screen-unlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  will-change: transform;
}

.unlocked {
  animation: unlockScreen 3.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.tablet-unlocked {
  animation: unlockTablet 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.console-unlocked {
  animation: unlockConsole 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes unlockScreen {
  0% { opacity: 1; }
  60% { opacity: 1; background-color: white; }
  90% { opacity: 1; background-color: white; }
  100% { opacity: 0; background-color: white; pointer-events: none; }
}

@keyframes unlockTablet {
  0% { width: 70vw; }
  100% { width: 99vw; }
}

@keyframes unlockConsole {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(1.41); }
}

#Left-Joycon {
    transition: transform 0.4s linear;
    transform: translateX(-2000px); 
}

#Right-Joycon {
    transition: transform 0.4s linear;
    transform: translateX(2000px); 
}

#Left-Joycon.animate-click, 
#Right-Joycon.animate-click {
    transform: translateX(0);
}

.block-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.block-border {
  width: 10.3vw; /* Of bijvoorbeeld 10vw */
  aspect-ratio: 1 / 1; /* Houdt het blok vierkant */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.block-border::before {
  content: "";
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-image: linear-gradient(#5ddcff, #3c67e3 43%, #4e00c2);
  animation: spin 3s linear infinite;
}

.block-content {
  background-color: rgb(34, 34, 34);
  width: 10vw; /* Gebruik percentages in plaats van vaste pixels */
  aspect-ratio: 1 / 1; /* Houdt het blok vierkant */
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.block-content:hover {
  cursor: pointer;
  background-color: rgb(24, 31, 43);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#home-button2 {
  transition: fill .5s;
}

.home-active {
  fill: rgba(0, 72, 255, 0.744) !important;
}

#complete-home-button {
  transition: all .1s;
}

#complete-home-button:hover {
  fill: rgba(64, 118, 255, 0.744) !important;
  cursor: pointer;
}