*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(24, 24, 24);
  font-family: SwitchUI;
  color: rgb(0, 179, 255);
}

@font-face {
  font-family: SwitchUI;
  src: url(font/NINTENDOSWITCHUI.TTF);
}

body {
  overflow: hidden;
}

.crossfade {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  pointer-events: none;
  z-index: 999;
  position: fixed; 
  top: 0;
  left: 0;
  animation: crossfade-startup 1s ease-out;
  animation-fill-mode: forwards;
}

.activate-crossfade {
  animation: crossfade .25s ease-in-out;
  pointer-events: all;
}

@keyframes crossfade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes crossfade-startup {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.Switch2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  transform-box: fill-box;
  translate: 0 0;
  rotate: 0deg;
  transition: translate 0.3s ease-in-out, rotate 0.3s ease-in-out;

  animation: 
    screen-float 3s ease-in-out infinite,
    screen-rotate 6s ease-in-out .5s infinite;
}

@keyframes screen-float {
  0%, 100% { translate: 0 -50px; }
  50% { translate: 0 50px; }
}

@keyframes screen-rotate {
  0% { rotate: 2deg; }
  25% { rotate: -2deg; }
  50% { rotate: 2deg; }
  75% { rotate: -2deg; }
  100% { rotate: 2deg; }
}

.Switch2.stop-animation {
    translate: 0 0 !important;
    rotate: 0deg !important;
}

.Switch2 svg {
  width: 70vw;
  display: block;
  overflow: visible !important;
}

#switch2-logo {
  width: 17vw;
  contain: paint;
}

.logo-unlock {
  animation-name: logo-unlock;
  animation-delay: 0.4s;
  animation-duration: 0.2s;
}

@keyframes logo-unlock {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.switch2-screen-content {
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw; 
  height: 25vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  
  align-items: flex-start;
  justify-content: center;
  
  gap: 20px;
}

.screen-unlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  will-change: transform;
}

.screen-content {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 43vw;
  height: 40vw;
}

.unlocked {
  animation: unlockScreen 3.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.tablet-unlocked {
  animation: unlockTablet 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.console-unlocked {
  animation: unlockConsole 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes unlockScreen {
  0% { opacity: 1; }
  60% { opacity: 1; background-color: white; }
  90% { opacity: 1; background-color: white; }
  100% { opacity: 0; background-color: white; pointer-events: none; }
}

@keyframes unlockTablet {
  0% { width: 70vw; }
  100% { width: 99vw; }
}

@keyframes unlockConsole {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(1.41); }
}

#Left-Joycon {
    transition: transform 0.4s linear;
    transform: translateX(-2000px); 
}

#Right-Joycon {
    transition: transform 0.4s linear;
    transform: translateX(2000px); 
}

#Left-Joycon.animate-click, 
#Right-Joycon.animate-click {
    transform: translateX(0);
}

.screen-header {
  font-size: 1vw;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  p {
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

.block-wrapper {
  display: flex;
  align-items: center;
  gap: .5%;
}

.block-content-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  p {
    position: absolute;
    top: -1.25vw;
    white-space: nowrap;
    color: #5ddcff;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.block-border.active-block + p, 
.block-content-wrapper:has(.active-block) p {
  opacity: 1;
}

.block-title {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: .8vw;
  color: #5ddcff;
  white-space: nowrap;
  pointer-events: none;
}

.block-border {
  width: 10.3vw;
  height: 10.3vw;
  aspect-ratio: 1 / 1;
  border-radius: 1vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.block-border::before {
  content: "";
  position: absolute;
  width: 17vw;
  height: 17vw;
  background-image: linear-gradient(#5ddcff, #3c67e3 43%, #4e00c2);
  animation: spin 3s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.block-border.active-block::before {
  opacity: 1;
}

.block-content {
  background-color: rgb(34, 34, 34);
  width: 10vw;
  aspect-ratio: 1 / 1;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: inherit;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  img {
    width: 97%;
    height: 97%;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    border-radius: inherit; 
  }
}

.block-content:has(img) {
  background-color: #141414;
}

.block-content:hover {
  cursor: pointer;
}

.game-click {
  animation-name: game-click;
  animation-duration: .2s;
}

@keyframes game-click {
  0% { scale: 1; }
  50% { scale: 0.96; }
  100% { scale: 1; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.settings-wrapper {
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 13%;
}

.settings-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(34, 34, 34);
  border-radius: 30px;
  width: 100%;
  padding: 1%;
  gap: .5%;
}

.settings-options {
  position: relative;
  z-index: 1;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  background-color: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(0.25rem, -0.3125rem + 1.5vw, 1rem);
}

.settings-options:hover {
  cursor: pointer;
  background-color: rgb(32, 38, 49);
}

.settings-border {
  flex-shrink: 0;
  position: relative;
  width: 3.3vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%; 
}

.settings-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(#5ddcff, #3c67e3 43%, #4e00c2);
  animation: spin 3s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease;
  transform: scale(1.1); 
  z-index: 0;
  border-radius: 100%;
}

.settings-border.active-setting::before {
  opacity: 1;
}

#home-button2,
#home-icon {
  transition: fill .5s;
}

.home-active {
  fill: rgba(0, 140, 255, 0.744) !important;
}

#complete-home-button {
  transition: all .1s;
}

#complete-home-button:hover {
  fill: rgba(110, 110, 110, 0.744) !important;
  cursor: pointer;
}

#c-button-all:hover {
  cursor: pointer;
}

#c,
#c-button {
  transition: all .5s;
}

.vc-active {
  fill: rgb(255, 153, 0) !important;
}